.DS_Store

.circleci
.github
.husky

.editorconfig

.eslintignore
.eslintrc

.gitattributes
.gitignore

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Deps
.depsrc

certificates
certificates.json

*-certs.*
!ca-and-certs.*
!certs.*
